.Board {
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 50px #808080, -10px 0 80px #C0C0C0, 10px 0 80px #ffe7eb;
 
}

table tr:first-child td:first-child {
  border-radius: 10px 0 0 0 !important;
}
table tr:first-child td:last-child {
  border-radius: 0 10px 0 0 !important;
}
table tr:last-child td:first-child {
  border-radius: 0 0 0 10px !important;
}
table tr:last-child td:last-child {
  border-radius: 0 0 10px 0 !important;
}