.AllPages {
    padding-top: 35px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.spacing{
    width: 100%;
}
.test{
    font-family: "Brush Script MT", cursive;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 26.4px;
}
.pages {
    text-align: center;
    align-items: center;
    justify-content: center;
}
.chatbotbox{
    width: 700px;
    height: 100px;
}
.chatbottable {
    border-collapse: collapse;
    border-spacing: 0;

}

.gameDesc {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}